<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ledger_group.name %>
</p>

<%= link_to 'Edit', edit_ledger_group_path(@ledger_group) %> |
<%= link_to 'Back', ledger_groups_path %>
