<input class="form-control custom-amount" type="number" name="" style="float: left; display: inline-block;">
<a class="btn btn-info create update-amount" style="margin-left:10px">Update Amount</a>
<span style="color: red;" class="custom-error"></span>